<template name="topicTemplate">
  <div class="container">
    <h1>{{topicName}}</h1>
    <i>{{getSummary}}.</i>
    <br>
    <div class="row">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <form class="new-item">
                <div class="form-group">
                  <label for="addItemInput">add another item:</label>
                  <input type="text" id="addItemInput" class="form-control" name="text" placeholder="new item" />
                </div>
              </form>
            </td>
          </tr>

          {{#each getItems}}
          <tr>
            <td>{{this}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      <button><a href="/">go back to home</a></button>
    </div>
  </div>
</template>
